Django==2.1.5
django-filter==2.0.0
djangorestframework==3.8.2
Markdown==2.6.11
drfdocs==0.0.11
django-cors-headers==2.4.0
Faker==0.8.17
factory-boy==2.10.0
django-import-export==1.0.1
django-anymail==4.2
coreapi==2.3.3
