Django==2.2.4
django-filter==2.2.0
djangorestframework==3.10.2
Markdown==2.6.11
drfdocs==0.0.11
django-cors-headers==3.0.2
Faker==0.8.17
factory-boy==2.10.0
django-import-export==1.2.0
django-anymail==6.1
coreapi==2.3.3
django-orderable==6.0.1
django-ckeditor==5.7.1
django-reversion==3.0.3
