<!DOCTYPE html>
<!-- file for test purposes only - to be deleted -->
<!-- {% load staticfiles %} -->
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- {%load static%} -->
    <link rel="stylesheet" href="{% static 'volunteer/css/stylesheet.css' %}">
    <!-- <link rel='stylesheet' href='/home/vardane/Documents/api_volontaria/API-Volontaria/static/volunteer/css/stylesheet.css'> -->
<!-- <style>
    .main_content{
        color: red
    }
</style> -->
</head>
<body>


<div class="main_content">
    yof
</div>
