@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  color: #142823;
}

ul {
  margin: 30px 0 0 0;
  padding: 0;
  list-style-type: none;
}

ul2 {
  margin: 60px 0 0 0;
  padding: 0;
  list-style-type: none;
}

.email {
  background-color: #ffffff;
  height:auto;
  padding: 20px;
}

.email__logo {
  margin: 20px;
  text-align: center;
}

.email__logo img {
  height: 60px;
  margin: auto;
}

.email__content {
  background-color: #ffffff;
  max-width: 600px;
  padding: 20px;
  margin: auto;
  text-align: center;
}

.email__content__title {
  font-size: 24px;
  font-weight: 900;
}

.email__content__subtitle {
  font-size: 18px;
  margin-top: 50px;
}

.italics{
  font-style: italic;
}

.bold_and_italics{
  font-style: italic;
  font-weight: bold;
}

.gap-10 { 
  width:100%; 
  height:10px; 
}

.volontaria_font{
  font-family: 'Pacifico', sans-serif;
  color: #142823;
}

.test_div {
  background-color: #000;
  padding: 10px;
  font-size: 20px;
  color: white;
}

.main_content{
  color: red;
}
