@import url("https://fonts.googleapis.com/css?family=Nunito+Sans");
body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  color: #142823;
}

.email {
  height: 100vh;
  padding: 20px;
  text-align: center;
}
.email__logo {
  margin: 20px;
  text-align: center;
}
.email__content {
  max-width: 600px;
  padding: 20px;
  margin: auto;
}
.email__content__title {
  font-size: 24px;
  font-weight: bolder;
}
.email_body > P {
  margin-bottom: 40px;
}
.email a.button {
  font-size: 1.3em;
  padding: 10px 20px;
  background-color: #6b8d2f;
  border-radius: 10px;
  border: 1px white solid;
  color: white !important;
  text-decoration: none;
}
.email a.button:active {
  background-color: black;
}
.email .email__content__summary__item {
  line-height: 15px;
  margin: 5px 0;
}
.email #footer {
  background-color: #f9fafc;
}
